<br><br><br><br><% provide :title, t(".title_index") %>
<div class="container">
  <div class="row">
    <div class="col-5 horizontal">
    </div>
    <div class="col-2">
      <h3 class="title"><%= t ".all_blog" %></h3>
    </div>
    <div class="col-5 horizontal">
    </div>
  </div>
  <% @blogs.sort_by_time.each do |blog| %>
    <div class="box">
      <div class="cover_photo_blog_index">
        <%= image_tag blog.cover_photo.to_s, class: "img_thumbnail" %>
      </div>
      <div class="post-article">
        <span><%= link_to blog.title, blog, class: "title_blog crop_text_2" %> </span>
      </div>
    </div>
  <% end %>
</div>